<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text">
                Ważnym aspektem bezpieczeństwa są aspekty integralności danych. Skąd mieć pewność, że oprogramowanie czy dane<br>
                pobrane z zewnętrznych źródeł jest oryginalne? Warto rozważyć stosowanie podpisów cyfrowych w wszystkich wymaganych procesach<br><br>
                Aby stworzyć  <b style="color:rgb(191, 230, 20);">cyfrowy podpis </b> wykorzystuje się klucze prywatne oraz publiczne.<br>
                Aby utworzyć potrzebne klucze oraz sam podpis można skorzystać z bilblioteki <b style="color:rgb(191, 230, 20);">openssl</b> oraz <br>
                funkcji: <b style="color:rgb(191, 230, 20);">openssl_pkey_new</b>, <b style="color:rgb(191, 230, 20);">openssl_sign</b>, <b style="color:rgb(191, 230, 20);">openssl_verify</b><br><br>
                W etapie podpisywania potrzebny jest <b style="color:rgb(191, 230, 20);">klucz prywatny</b>, który musi pozostać tajny (nie może zostać rozpowszechniony). 
                Poniżej przedstawiam Ci taki mechanizm. Spróbuj stworzyć i podpisać wiadomość.
            </div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==1">
            <div class="text">
                Twoja wiadomość została podpisana. Aby zweryfikować wiadomość i podpis możesz wykorzystać <br>
                teraz <b style="color:rgb(191, 230, 20);">klucz publiczny </b>powiązany z prywatnym (tworzy sie automatycznie podczas generowania klucza prywatnego).<br>
                Pamietaj, aby klucz prywatny pozostał utajniony, i nikomu go nie zdradzaj. Udostępnić natomiast musisz klucz publiczny. <br><br>
                
                Możesz teraz sprawdzić co sie stanie, gdy zmienisz treść wiadomości. <br>
            </div>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0,1]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>
<div *ngIf="selectedLevel==0" style ="text-align: center;">
    <table style=" margin: 0 auto;">
        <tr>
            <td>
                <app-create-resource
                    (resourceEmitter)="updateResource($event)">
                </app-create-resource>
            </td>
            <td> 
                <app-digital-sign
                    [keys]="keys"
                    (keyEmitter)="signResource($event)">
                </app-digital-sign>
            </td>
        </tr>
    </table>
</div>


<div *ngIf="selectedLevel==1" style ="text-align: center;">
    <table style=" margin: 0 auto;">
        <tr>
            <td>
                <app-verify-resource
                    [resource]="signature.resource"
                    (resourceEmitter)="updateResource($event)">
                </app-verify-resource>
            </td>
            <td> 
                <app-digital-sign-verify
                    [public_key]="signature.public_key"
                    [signature]="signature.signature"
                    (requestEmitter)="checkSignature($event)">
                </app-digital-sign-verify>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="selectedLevel==1">
    {{signConfirmation.signatureIsValid}}
</div>
{{response}}
<br>
