<!-- <table cellspacing="0" cellpadding="0">
    <tr class="assistantPanel">
        <th class="dialog">Company</th>
        <th class="assistant"><img src="/assets/images/assistant.png"></th>
    </tr>
</table> -->


<div class="assistantPanel">
    <div class="dialog">
        <div *ngFor="let dialog of levels[selectedLevel].dialogs">
            <div *ngIf="dialog.type==1" class="text" [innerHTML]="dialog.dialog"></div>
            <div *ngIf="dialog.type==2" class="image"><img [src]="dialog.dialog"></div>
        </div>
        <!-- <div class="image" *ngIf="dialogs[selectedLevel].image!=null"><img [src]="dialogs[selectedLevel].image"></div> -->
        <div>
            <button class="next" type="button" *ngIf="selectedLevel+1 < levels.length"
                (click)="setDialog(selectedLevel+1)">Dalej</button>
        </div>
    </div>



    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/assistant.png">
        </div>
        <div class="menu">
            <button *ngFor="let level of levels; let index=index"
                [ngClass]="index==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(index)"></button>
        </div>
    </div>
</div>



<br><br>


<div class="mainPanel">
    <div *ngIf="selectedLevel==1">
        user-manual <button type="button" (click)="downloadFile('user-manual')">Pobierz</button>
    </div>
    <div *ngIf="selectedLevel==2">
        <div class="code">
            {{ROOT_URL}}<input id="filename" [(ngModel)]="filename" placeholder="user-manual">
        </div>
        <button type="button" (click)="downloadFile(filename)">Pobierz</button>
    </div>
</div>

