A01:2021-Broken Access Control
<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text">Zapewne domyślasz się, że manipując parametrem możesz uzyskać dostęp do innego pliku. Jeżeli są to tylko pliki umieszczone w publicznym katalogu to jeszcze nie jest tak źle. CWE-22 to przypadek pozwalający uzyskać dostęp niemal do każdego katalogu i pliku. Wszystko dzięki dodaniu ciągów <p class="pp">"../"</p> - które umożliwiają wyjść poza aktualny katalog.</div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==1">
            <div class="text">Po pobraniu pliku: <p class="pp">user-manual</p>, w liście pobranych plików zobaczysz coś takiego:</div>
            <div class="image"><img src="/assets/images/2.png"></div>
            <div class="text">Przyjrzyjmy się, jak wygląda to po stronie serwera: <div class="code">return response()->download(storage_path("public-data/".$request->filename));</div><br><br>W normalnym działaniu będzie wyglądać to tak:<br><div class="code">return response()->download(storage_path("public-data/user-manual"));<br></div></div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==2">
            <div class="text">Pewnie zauważyłeś, że <p class="pp">filename</p> jest parametrem przyjmującym nazwę pobieranego pliku. Parametr można podmienieć na dowolny. Załóżmy, że pliki na serwerze mają taką strukturę: <br><br></div>
            <div class="image"><img src="/assets/images/1.png"></div>
            <div class="text">Jeżeli podmienisz wartość parametru <p class="pp">filename</p> na <p class="pp">"../etc/passwd"</p> uzyskasz dostęp do pliku znajdującego się w innym katalogu. Stanie się tak, ponieważ programista nie zabezpieczył tego parametru:<br><br><div class="code">return response()->download(storage_path("public-data/../etc/passwd"));</div></div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==3">
            <div class="text">Programista nie może ufać niczemu co pochodzi od użytkownika. Można było się przed tym zabezpieczyć. Zawsze należy sanityzować dane i sprawdzić czy to co użytkownik wysłał jest tym czego oczekujemy:<br><br><div class="code">$filename = $request->filename;<br>if($filename=="user-manual")<br>return response()->download(storage_path("public-data/user-manual.txt"));</div></div>
        </div>
        <!---->
        <div>
            <button class="next" type="button" *ngIf="selectedLevel<3"
                (click)="setDialog(selectedLevel+1)">Dalej</button>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0,1,2,3]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>

<br><br>
 <!--TODO-->
<div class="mainPanel">
    <div *ngIf="selectedLevel==1">
        user-manual <button type="button" (click)="downloadFile('user-manual')">Pobierz</button>
    </div>
    <div *ngIf="selectedLevel==2">
        <div class="code">
            {{ROOT_URL}}<input id="filename" [(ngModel)]="filename" placeholder="user-manual">
        </div>
        <button type="button" (click)="downloadFile(filename)">Pobierz</button>
    </div>
</div>

