<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text">
                <p style="font-size: 20px"> Broken Access Control to rodzina błędów związanych z błędami autoryzacji.<br>
                    Brak autoryzacji umożliwa użytkownikowi wykonywanie operacji nie przeznaczonych dla niego. <br>

                    Poniżej stworzyłem dla Ciebie taki scenariusz.<br>
                    Pewien portal posiada, w ustawieniach użytkownika,  opcję do zmiany hasła.<br>
                    Zupełnie taki jak przedstawiam Ci po lewej stronie.<br>
                    Po prawej wyświetlę Ci fragment przedstawiający stan bazy danych.<br>
                    Aktualnie zalogowanym użytkownikiem jest Harrel. <br>
                    Skorzystaj z formularza, i zmień swoje hasło<br> 

                <b style="color:rgb(191, 230, 20); font-size: 24px;">Zmień hasło, aby przejść dalej</b> 
                
            </div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==1">
            <div class="text">
                Udało Ci się zmienić hasło użytkownika, ale co jeśli powiem Ci <br>
                że mogłeś zmienić hasło dowolnego użytkownika? <br>
                Aktualne zapytanie po stronie serwera przyjmuje tylko parametr ID oraz wprowadzone hasło:<br>
                <div class="code">$user = A1_User::where('id', $fields['id'])<br>
                    ->update(['passwd' => $fields['passwd']]);
                </div> <br>
                Nie widziałeś tego, ale formularz wysyła również ID zalogowanego użytkownika.<br>
                Możesz dowolnie zmodyfikować parametry zapytania używając specjalnych narzędzi tp. takich jak  
                <b style="color:rgb(191, 230, 20)">Postman</b>  czy <b style="color:rgb(191, 230, 20)">Burp Suit</b>.
                Jednak dla zaoszczędzenia Ci czasu zasymuluje takie narzędzie po lewej stronie. <br>
                <b style="color:rgb(191, 230, 20);">Spróbuj zmienić kilka haseł.</b>      
            </div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==2">
            <div class="text">
                Jak widzisz, zmieniłeś hasła dowolnych użytkowników - nie powinno to być możliwe<br>
                Sesja jest specjalnym tokenem, który można wykorzystać, aby temuzapobiec. <br>
                <div class="code">       $currentTimestamp = Carbon::now()->setTimezone('Europe/Warsaw')->toDateTimeString(); <br>
                    $authorization = A1_Session::where('sessid', $fields['sessid']) <br>
                        ->where('user_id', $fields['id']) <br>
                        ->where('expire_at', '>', $currentTimestamp) <br>
                        ->first(); <br>
                </div> <br>
                W powyższym rozwiązaniu, najpierw sprawdza się czy użytkownik ma dostęp do określonego zasobu. <br>
                I tylko jeżeli ma, będzie mógł zamienić hasło<br>
                Udostępniłem Ci jeszcze funkcję, przedłużania i wyczerpywania sesji, abyś mógł przestować jej działanie<br>
                Spróbuj zmienić hasła jeszcze raz, a zobaczysz, że nie możesz juz tego zrobić.
 
            </div>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0,1,2]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>

<br><br>

<table  cellpadding="10" cellspacing="0" class="centered-table" *ngIf="selectedLevel==0 ||selectedLevel==1 || selectedLevel==2">
    <tr>
        <td *ngIf="selectedLevel==0">
            <app-change-password-form 
                [user]="user"
                [selectedLevel]="selectedLevel"
                (submitForm)="updateUsersData()"
                (response)="updateResponse($event)">
            </app-change-password-form>
        </td>
        <td *ngIf="selectedLevel==1 || selectedLevel==2">
            <app-http-change-password-form
                [user]="user"
                [selectedLevel]="selectedLevel"
                (submitForm)="updateUsersData()"
                (userChanged)="updateUserData($event)"
                (response)="updateResponse($event)">
            </app-http-change-password-form>
        </td>
        <td>
            <app-a1-users-list 
                [id]="user.id"
                [users]="users">
            </app-a1-users-list>
        </td>
    </tr> 
    <tr>
        <td colspan="2" style => <b style="color:rgb(187, 224, 18); font-size: 24px;">{{response}}</b> </td>
    </tr>
</table>





