<div>
    <div *ngIf="selectedLevel==1">
        <div *ngIf="getExpireAt()">
            <span class="text-danger">Your session expired at: {{user.expire_at}}</span>
            <button (click)="refreshSession()">Refresh</button>
        </div>
        <div *ngIf="!getExpireAt()">
            <span class="text-success">Your session will expire at: {{user.expire_at}} </span>
            <button (click)="expireSession()">Expire</button>
        </div>
    </div>

    <br>
   <b>Password change form:</b><br><br>
    Hi! {{user.login}} | {{user.email}} <br><br>
    <label for="passwd1">New password: </label><br>
    <input id="passwd1" [(ngModel)]="passwd1" type="password"/> <br><br>
    <label for="passwd2">Confirm password: </label><br>
    <input id="passwd2" [(ngModel)]="passwd2" type="password"/><br><br>

    <div *ngIf="selectedLevel==0">
        
        <button (click)="submit(false, passwd1, passwd2)">Submit</button>
    </div>
    <div *ngIf="selectedLevel==1">
        <button (click)="submit(true, passwd1, passwd2)">Submit</button>
    </div>
    <br><br>{{response}} <br><br><br> 
</div>