<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text">base64</div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==1">
            <div class="text">sha-256</div>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0,1]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="page-panel" *ngIf="selectedLevel==0">
    <div class="storage">
        <table>
            <tr>
                <td>Nazwa pliku</td>
                <td>Pobieranie</td>
            </tr>
            <tr *ngFor="let file of files">
                <td> 
                    <p>{{file.filename}}</p>
                </td>
                <td>
                    <button (click)="downloadFile(file)">Download</button>    
                </td>
            </tr>
        </table>
    </div>
    <div class="action-add-new">
        <label for="name">Nazwa pliku: </label>
        <input type="text" id="name" name="name" [(ngModel)]="filename">
        <br>
        <label for="URL">Proszę podać adres URL: </label>
        <input type="text" id="URL" name="URL" [(ngModel)]="url">

        <button (click)="upload(filename, url, false)">Upload</button>    
        <p>{{response}}</p>
    </div>
</div>
<div class="page-panel" *ngIf="selectedLevel==1">
    <div class="storage">
        <table>
            <tr>
                <td>Nazwa pliku</td>
                <td>Pobieranie</td>
            </tr>
            <tr *ngFor="let file of files">
                <td> 
                    <p>{{file.filename}}</p>
                </td>
                <td>
                    <button (click)="downloadFile(file)">Download</button>    
                </td>
            </tr>
        </table>
    </div>
    <div class="action-add-new">
        <label for="name">Nazwa pliku: </label>
        <input type="text" id="name" name="name" [(ngModel)]="filename">
        <br>
        <label for="URL">Proszę podać adres URL: </label>
        <input type="text" id="URL" name="URL" [(ngModel)]="url">

        <button (click)="upload(filename, url, true)">Upload</button>    
        <p>{{response}}</p>
    </div>
</div>

