.change-password-panel{
margin-top:40px;
    text-align: center;
 }


.change-password-form{

   background-color: rgb(35, 35, 35);
   
padding: 40px;
   text-align: left; 
   display: inline-block; 
}



.assistantPanel {
    display: table;
    margin-left: auto;
    margin-right: auto;

    height: 254px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;

    .rightPanel {
        float: left;
        
        width: 400px;
        height: 250px;
        border: solid 2px rgb(66, 141, 255);
        background-color: rgb(22, 22, 22);
        box-shadow: 0px 0px 15px rgb(66, 141, 255);


        .assistant {
            width: 400px;
            width: 400px;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;
            max-height: 200px;
        }

        .menu {
            border-top: solid 2px black;
            border-bottom: none;
            width: 400px;
            height: 48px;
            background-color: rgb(32, 33, 36);
            align-items: center;
            display: inline-block;

            .circle {
                margin-top: 10px;
                margin-left: 7.5px;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background-color: rgb(22, 22, 22);
                border: dashed  2.5px rgb(66, 141, 255);
            }

            .circle:hover {
                border: solid 2.5px rgb(66, 141, 255);
                //background-color: rgb(240, 15, 240);
            }

            .circleSet {
                margin-top: 10px;
                margin-left: 7.5px;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                //background-color: rgb(22, 22, 22);
                border: solid 2.5px rgb(22, 22, 22);
                background-color: rgb(66, 141, 255);
            }

        }
    }

    .dialog {
        width: 600px;
        height: 234px;
        float: left;
        
        padding: 10px;
        border: solid 2px black;
        border-right: none;
        background-color: rgb(32, 33, 36);
        overflow-y: scroll;
        box-shadow: 0px 0px 15px black;
        color: white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;

        .pp {
            color: rgb(66, 141, 255);
            display: inline-block;
            font-weight: bolder;
        }
        .text{
            margin-top: 25px;
        }

        .next{
            margin-top: 25px;
            color: white;
            background-color: rgb(39, 35, 39);
            border-radius: 15px;
            width: 200px;
            height: 60px;
            font-size: 35px;
            border: none;
            box-shadow: 0px 0px 15px rgb(66, 141, 255);
        }

        .next:hover{
            box-shadow: 0px 0px 15px black;
        }

    }
}