<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text" >
                Nie wyszystkie błędy są czysto programistyczne. 
                Czasem zdarzy się sama funkcjonalność jest źle zaprojektowana.<br><br>
                Przykładowy scenariusz zakłada, że serwis "W" (po lewej stronie)
                umożliwa odzyskanie konta poprzez wypełnienie formularza.
                wadą tego formularza jest to, że wykrozystuje dane stosunkowo proste do pozykania.<br><br>
                Zakładając, że znasz cel ataku, możesz zdobyć potrzebne informacje
                przeszukując jej profil na portalu "F" (po prawej).<br><br>
                W celu odzyskania konta warto zastosować składniki weryfikacji dwuetapowej
                Powiązanie numeru z kontem, umożliwi wysłanie specjalny kodu.
                Można założyć, że tylko właściciel będzie posiadał taki kod.
            </div>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>


<div class="change-password-panel" style="font-size: 20px">
    <form class="change-password-form"  >
        <label for="name">Imię: </label><br>
        <input type="text" id="name" name="name" [(ngModel)]="name" style="height: 20px; font-size: 18px"><br><br>
        
        <label for="surname">Nazwisko: </label><br>
        <input type="text" id="surname" name="surname" [(ngModel)]="surname" style="height: 20px; font-size: 18px"><br><br>

        <label for="dob">Data urodzenia:</label><br>
        <input type="text" id="dob" name="dob" [(ngModel)]="date" style="height: 20px; font-size: 18px"><br><br>

        <label for="birthplace">Miejsce urodzenia:</label><br>
        <input type="text" id="birthplace" name="birthplace" [(ngModel)]="birthplace" style="height: 20px; font-size: 18px"><br><br>
        
        <label for="security-question-1">Pytanie zabezpieczające 1:</label><br>
        Podaj nazwę ulubionego zespołu muzycznego.<br>
        <input type="text" id="security-question-1" name="security-question-1" [(ngModel)]="answer1" style="height: 20px; font-size: 18px"><br><br>

        <label for="security-question-2">Pytanie zabezpieczające 2:</label><br>
        Podaj imię Twojej pierszej miłości z czasów podstawówki.<br>
        <input type="text" id="security-question-2" name="security-question-2" [(ngModel)]="answer2" style="height: 20px; font-size: 18px"><br><br>

        <label for="security-question-3">Pytanie zabezpieczające 3:</label><br>
        Podaj imię twojego psa z dzieciństwa.<br>
        <input type="text" id="security-question-3" name="security-question-3" [(ngModel)]="answer3" style="height: 20px; font-size: 18px"><br><br>
        <br>
        <label for="new-password">Nowe hasło:</label><br>
        <input type="password" id="new-password" name="new-password" [(ngModel)]="newPassword" style="height: 20px; font-size: 18px"><br><br>

        <label for="confirm-password">Potwierdź nowe hasło:</label><br>
        <input type="password" id="confirm-password" name="confirm-password" [(ngModel)]="confirmNewPassword" style="height: 20px; font-size: 18px"><br><br>

        <input type="submit" value="Zmień hasło">
    </form>
</div>