<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text">

                Aby zresetować dostęp do Twojej poczty, <br>
odpowiedz na poszczególne pytania zabezpieczajace:

            </div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==1">
            <div class="text">base64</div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==2">
            <div class="text">sha-256</div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==3">
            <div class="text">salt+sha-256</div>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0,1,2,3]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>


<div class="change-password-panel">
    <form class="change-password-form">
        <label for="name">Imię: </label><br>
        <input type="text" id="name" name="name"><br><br>
        
        <label for="surname">Nazwisko: </label><br>
        <input type="text" id="surname" name="surname"><br><br>

        <label for="dob">Data urodzenia:</label><br>
        <input type="date" id="dob" name="dob"><br><br>

        <label for="birthplace">Miejsce urodzenia:</label><br>
        <input type="text" id="birthplace" name="birthplace"><br><br>
        
        <label for="security-question-1">Pytanie zabezpieczające 1:</label><br>
        Podaj nazwę ulubionego zespołu muzycznego.<br>
        <input type="text" id="security-question-1" name="security-question-1"><br><br>

        <label for="security-question-2">Pytanie zabezpieczające 2:</label><br>
        Podaj imię Twojej pierszej miłości z czasów podstawówki.<br>
        <input type="text" id="security-question-2" name="security-question-2"><br><br>

        <label for="security-question-3">Pytanie zabezpieczające 3:</label><br>
        Podaj imię twojego psa z dzieciństwa.<br>
        <input type="text" id="security-question-3" name="security-question-3"><br><br>
        <br>
        <label for="new-password">Nowe hasło:</label><br>
        <input type="password" id="new-password" name="new-password"><br><br>

        <label for="confirm-password">Potwierdź nowe hasło:</label><br>
        <input type="password" id="confirm-password" name="confirm-password"><br><br>

        <input type="submit" value="Zmień hasło">
    </form>
</div>