<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text">
                Jeśli ktoś będzie próbował, wykonywać jakieś nieporzadane czynności lub sam system<Br>
                zacznie powodować konfilkty skąd będziesz wiedział co się stało?<br><br>
                Monitorowanie zdarzeń w systemie to naprawdę ważna sprawa - na ich podstawie możesz pozyskać cenne dane.<br>
                W poniższe logach możemy odczytać miejsce, z którego zostały wywołane oraz typ zdarzenia.<br>
                Jednak takie logi są bezwartościowe, ponieważ nie możemy odpowiedzieć na pytania: <br><br>
                <b style="color:rgb(191, 230, 20);">Co się dokładnie stało?</b><br><br>
                <b style="color:rgb(191, 230, 20);">Jakie parametry podał użytkownik?</b>
            </div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==1">
            <div class="text">
                Trochę lepiej nieprawda? Jednak to wciąż za mało: <br><br>
                <b style="color:rgb(191, 230, 20);">Skąd nastąpiło zapytanie/atak?</b><br><br>
                <b style="color:rgb(191, 230, 20);">Kiedy to sie wydarzyło?</b>
            </div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==2">
            <div class="text">
                Pełne logi są w stanie przybliczyć powód wydarzenia. Można je poddać analizie w razie wystąpienia ataku cybernetycznego.<br><br>
                Logi mogą zostać wykorzystane również do zaimplementowania mechanizmów o których wspominano w wcześniejszych tematach. <br><br>
                Informacja o nieudanych próbach logowania oraz dacie można zostać wykorzystana do stworzenia mechanizmu <br>
                blokującego ip na pewien okres czasu<br>


            </div>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0,1,2]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>
<br><br><br><br>
Exclude: <input [(ngModel)]="exclude">
<br><br><br><br>
<div tyle ="text-align: center;">
    <table style=" margin: 0 auto;">
        <tr>
            <td >id</td>
            <td *ngIf="selectedLevel>=2">IP</td>
            <td >action</td>
            <td *ngIf="selectedLevel>=1">paramters</td>
            <td>event type</td>
            <td *ngIf="selectedLevel>=1">description</td>
            <td *ngIf="selectedLevel>=2">created at</td>
            <td *ngIf="selectedLevel>=2">updated at</td>
        </tr>
        <tr *ngFor="let log of auditLogs | filterBy: 'event_type': '!=': exclude">
            <td>{{log.id}}</td>
            <td *ngIf="selectedLevel>=2">{{log.ip}}</td>
            <td>{{log.action}}</td>
            <td *ngIf="selectedLevel>=1"> <button *ngIf="log.parameters.length>0" title={{log.parameters}}>+</button></td>
            <td>{{log.event_type}}</td>
            <td *ngIf="selectedLevel>=1">{{log.description}}</td>
            <td *ngIf="selectedLevel>=2">{{log.created_at}}</td>
            <td *ngIf="selectedLevel>=2">{{log.updated_at}}</td>
        </tr>
    </table>
</div>

<!-- <div *ngIf="selectedLevel==1" style ="text-align: center;">
    <table style=" margin: 0 auto;">
        <tr>
            <td>id</td>
            <td>IP</td>
            <td>action</td>
            <td>paramters</td>
            <td>exception type</td>
            <td>description</td>
            <td>stack trace</td>
            <td>created at</td>
            <td>updated at</td>

        </tr>
        <tr *ngFor="let log of exceptionLogs">
            <td>{{log.id}}</td>
            <td>{{log.ip}}</td>
            <td>{{log.action}}</td>
            <td> 
                <button *ngIf="log.parameters.length>0" title={{log.parameters}}>+</button>
            </td>
            <td>{{log.exception_type}}</td>
            <td>{{log.description}}</td>
            <td> <button title={{log.stack_trace}}>+</button></td>
            <td>{{log.created_at}}</td>
            <td>{{log.updated_at}}</td>
        </tr>
    </table>
</div> -->
