<div class="assistantPanel">
    <div class="dialog">
        <!---->
        <div *ngIf="selectedLevel==0">
            <div class="text">base64</div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==1">
            <div class="text">sha-256</div>
        </div>
        <!---->
        <div *ngIf="selectedLevel==2">
            <div class="text">sha-256</div>
        </div>
    </div>
    <!---->
    <div class="rightPanel">
        <div class="assistant">
            <img src="/assets/images/ass2.png">
        </div>
        <div class="menu">
            <button *ngFor="let number of [0,1,2]; let i = index"
                [ngClass]="i==selectedLevel? 'circleSet' : 'circle'" (click)="setDialog(i)"></button>
        </div>
    </div>
</div>
<br><br><br><br>
Exclude: <input [(ngModel)]="exclude">
<br><br><br><br>
<div tyle ="text-align: center;">
    <table style=" margin: 0 auto;">
        <tr>
            <td >id</td>
            <td *ngIf="selectedLevel>=2">IP</td>
            <td >action</td>
            <td *ngIf="selectedLevel>=1">paramters</td>
            <td>event type</td>
            <td *ngIf="selectedLevel>=1">description</td>
            <td *ngIf="selectedLevel>=2">created at</td>
            <td *ngIf="selectedLevel>=2">updated at</td>
        </tr>
        <tr *ngFor="let log of auditLogs | filterBy: 'event_type': '!=': exclude">
            <td>{{log.id}}</td>
            <td *ngIf="selectedLevel>=2">{{log.ip}}</td>
            <td>{{log.action}}</td>
            <td *ngIf="selectedLevel>=1"> <button *ngIf="log.parameters.length>0" title={{log.parameters}}>+</button></td>
            <td>{{log.event_type}}</td>
            <td *ngIf="selectedLevel>=1">{{log.description}}</td>
            <td *ngIf="selectedLevel>=2">{{log.created_at}}</td>
            <td *ngIf="selectedLevel>=2">{{log.updated_at}}</td>
        </tr>
    </table>
</div>

<!-- <div *ngIf="selectedLevel==1" style ="text-align: center;">
    <table style=" margin: 0 auto;">
        <tr>
            <td>id</td>
            <td>IP</td>
            <td>action</td>
            <td>paramters</td>
            <td>exception type</td>
            <td>description</td>
            <td>stack trace</td>
            <td>created at</td>
            <td>updated at</td>

        </tr>
        <tr *ngFor="let log of exceptionLogs">
            <td>{{log.id}}</td>
            <td>{{log.ip}}</td>
            <td>{{log.action}}</td>
            <td> 
                <button *ngIf="log.parameters.length>0" title={{log.parameters}}>+</button>
            </td>
            <td>{{log.exception_type}}</td>
            <td>{{log.description}}</td>
            <td> <button title={{log.stack_trace}}>+</button></td>
            <td>{{log.created_at}}</td>
            <td>{{log.updated_at}}</td>
        </tr>
    </table>
</div> -->
