<div class="mheader">
    A{{selectedVulnerability.id}}: {{selectedVulnerability.category}}
</div>

<div [ngSwitch]="selectedVulnerability.id">
    <div *ngSwitchCase="1"><app-page-a1></app-page-a1></div>
    <div *ngSwitchCase="2"><app-page-a2></app-page-a2></div>
    <div *ngSwitchCase="3"><app-page-a3></app-page-a3></div>
    <div *ngSwitchCase="4"><app-page-a4></app-page-a4></div>
    <div *ngSwitchCase="5"><app-page-a5></app-page-a5></div>
    <div *ngSwitchCase="6"><app-page-a6></app-page-a6></div>
    <div *ngSwitchCase="7"><app-page-a7></app-page-a7></div>
    <div *ngSwitchCase="8"><app-page-a8></app-page-a8></div>
    <div *ngSwitchCase="9"><app-page-a9></app-page-a9></div>
    <div *ngSwitchCase="10"><app-page-a10></app-page-a10></div>
    <div *ngSwitchDefault>404</div>
</div>