<div *ngIf="selectedLevel==2">
    <div *ngIf="getExpireAt()">
        <span class="text-danger">Your session expired at: {{user.expire_at}}</span>
        <button (click)="refreshSession()">Refresh</button>
    </div>
    <div *ngIf="!getExpireAt()">
        <span class="text-success">Your session will expire at: {{user.expire_at}} </span>
        <button (click)="expireSession()">Expire</button>
    </div>
</div>
<br>
<table border ="1" cellpadding="10" cellspacing="0" *ngIf="selectedLevel==1 || selectedLevel ==2">
    <tr>
        <td>POST</td>
        <td >http://localhost:8000/api/A1-changePasswd</td>
    </tr>   
    <tr>
        <td colspan="2">Params</td>
    </tr>    
    <tr>
        <td>id </td>
        <td> <input id="id" [(ngModel)]="user.id"/> <br><br></td>
    </tr>    
    <tr>
        <td>passwd </td>
        <td> <input id="passwd1" [(ngModel)]="passwd1"> <br><br></td>
    </tr>    
    <tr>
        <td>passwd_confirm</td>
        <td> <input id="passwd2" [(ngModel)]="passwd2"><br><br></td>
    </tr>  
    <tr *ngIf = "selectedLevel==2">
        <td>sessid </td>
        <td> <input id="sessid" [(ngModel)]="user.sessid" > <br><br></td>
    </tr>  
    <tr>
        <td colspan="2" *ngIf="selectedLevel==1">
            <button (click)="submit(false, passwd1, passwd2)">Send</button>
        </td>
        <td colspan="2" *ngIf="selectedLevel==2">
            <button (click)="submit(true, passwd1, passwd2)">Send</button> 
        </td>
    </tr> 
</table>
{{response}}

