<table border ="1" cellpadding="10" cellspacing="0">
    <tr>
        <td>POST</td>
        <td >http://localhost:8000/api/A1-changePasswd</td>
    </tr>   
    <tr>
        <td colspan="2">Params</td>
    </tr>    
    <tr>
        <td>id </td>
        <td> <input id="id" [(ngModel)]="id"/> <br><br></td>
    </tr>    
    <tr>
        <td>passwd </td>
        <td> <input id="passwd1" [(ngModel)]="passwd1"> <br><br></td>
    </tr>    
    <tr>
        <td>passwd_confirm</td>
        <td> <input id="passwd2" [(ngModel)]="passwd2"><br><br></td>
    </tr>  
    <tr *ngIf = "selectedLevel==1">
        <td>sessid </td>
        <td> <input id="sessid" [(ngModel)]="sessid" > <br><br></td>
    </tr>  
    <tr>
        <td colspan="2" *ngIf="selectedLevel==0">
            <button (click)="submit(false, passwd1, passwd2)">Send</button>
        </td>
        <td colspan="2" *ngIf="selectedLevel==1">
            <button click)="submit(true, passwd1, passwd2)">Send</button> 
        </td>
    </tr> 
</table>